* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #1a1924;
}

body * {
    border: 2px solid red;

}

#app {
    padding: 2.4rem 3.2rem;
    height: 100vh;
    width: 100vh;
}
